{{- $isPC := promptBoolOnce . "isPC" "Is this your PC" -}}

encryption = "age"
[age]
identity = "~/age-key.txt"
recipient = "age1xuqq9yhtcxqtympw5n8gh6a7pscuzvsvpmfen7mdnt2et43vqsvs80vxle"

[diff]
command = "nvim"
args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[data]
pc = {{ $isPC }}

