@define-color bg #282828;
@define-color red #cc241d;
@define-color green #98971a;
@define-color yellow #d79921;
@define-color blue #458588;
@define-color purple #b16286;
@define-color aqua #689d6a;
@define-color gray #a89984;
@define-color gray2 #928374;
@define-color fg #ebdbb2;
@define-color orange #d65d0e;

@define-color bg0_h #1d2021;
@define-color fg1 #ebdbb2;
