/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* import css definitions for current theme */
/*@import url("theme.css");*/
/* @import "mocha.css"; */
@import "gruvbox.css";

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: @fg;
    }

    to {
        color: @fg;
        background-color: @yellow;
    }
}

@keyframes blink-critical {
    70% {
      color: @fg;
    }

    to {
        color: @fg;
        background-color: @red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    /*font-family: "FontAwesome 5 Free Solid", "TerminessTTF Nerd Font", sans-serif;*/
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    color: @fg;
}

/* The whole bar */
#waybar {
    border-bottom: 1px solid @fg;
    border-color: @gray2;
    background: @bg0_h;
}

#waybar label {
  padding: 0 5px;
}

/* Each module */
#bluetooth,
#clock,
#cpu,
#memory,
#network,
#temperature,
#idle_inhibitor,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#clock {
    font-weight: bold;
    border-bottom: 2px;
    border-color: @green;
    border-style: solid;
}

#cpu {
  border-left: 1px solid @gray2;
  border-radius: 7px;
  margin-left: 0;
  margin-right: 0;
}

#cpu.warning {
    color: @yellow;
}

#cpu.critical {
    color: @red;
}

#memory {
  border-left: 1px solid @gray2;
  border-radius: 7px;
  margin-left: 0;
  margin-right: 0;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: @yellow;
}

#memory.critical {
    color: @red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#network {
  border-left: 1px solid @gray2;
  border-radius: 7px;
  min-width: 20px;
}

#network.disconnected {
    color: @yellow;
}

#temperature {
  border-left: 1px solid @gray2;
  border-radius: 7px;
  margin-left: 0;
  margin-right: 0;
}

#temperature.critical {
    color: @red;
}

#tray {
  border-left: 1px solid @gray2;
  border-radius: 7px;
}

#window {
    font-weight: bold;
    color: @fg;
}

#workspaces {
  border-right: 1px solid @gray2;
  border-radius: 7px;
}

#workspaces button {
    border-top: 2px solid transparent;
    border-bottom: 4px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    color: @fg;
}

/* #workspaces button.focused { */
/*     border-color: @green; */
/*     color: @fg1; */
/*     background-color: @accent_color; */
/* } */

/* #workspaces button.visible{ */
/*     border-bottom: 2px solid @green; */
/*     color: @fg; */
/* } */

#workspaces button.active {
    border-bottom: 2px solid @green;
    color: @fg;
}

/* #workspaces button.persistent{ */
/*     border-bottom: 2px solid @green; */
/*     color: @fg; */
/* } */

/* #workspaces button.empty{ */
/*     border-top: 2px solid transparent; */
/*     border-bottom: 4px solid transparent; */
    /* To compensate for the top border and still have vertical centering */
/*     padding-bottom: 2px; */
/*     padding-left: 5px; */
/*     padding-right: 5px; */
/*     color: @fg; */
/* } */


#workspaces button.urgent {
    border-color: @red;
    color: @red;
}

#bluetooth.disabled {
    color: @red;
}

#submap {
    color: @red;
}
