environment {
  AMD_VULKAN_ICD "RADV"
  EDITOR "nvim"
  ELECTRON_OZONE_PLATFORM_HINT "wayland"
  MESA_SHADER_CACHE_MAX_SIZE "12G"
  PROTON_USE_NTSYNC "1"
  QT_AUTO_SCREEN_SCALE_FACTOR "1"
  QT_QPA_PLATFORM "wayland xcb"
  QT_QPA_PLATFORMTHEME "qt5ct"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  TERM "kitty"
  TERMINAL "kitty"
  WINEDLLOVERRIDES "winepulse.drv=d"
  WINEALSA_CHANNELS "8"
  XCURSOR_SIZE "28"
  XCURSOR_THEME "BreezeX-RoséPine"
  }
