# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
# ┃                    Variables Configuration                  ┃
# ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛

source = ~/.config/hypr/config/catppuccin-mocha.conf

# Variables wiki https://wiki.hyprland.org/0.45.0/Configuring/Variables/ #
# https://wiki.hyprland.org/0.45.0/Configuring/Variables/#general
general {
{{ if .pc }}
    gaps_in = 5
    gaps_out = 10
{{ else }}
    gaps_in = 3
    gaps_out = 6
{{ end }}
    border_size = 1
    col.active_border=rgba(98971aff) rgba(98971aff) 0deg
    col.inactive_border=rgba(928374ff) rgba(928374ff) 0deg
    layout = dwindle

    snap {
    	enabled = true
    }
}

# https://wiki.hyprland.org/0.45.0/Configuring/Variables/#group
group {
	col.border_active = $green
	col.border_inactive = $grey
	col.border_locked_active = $green
	col.border_locked_inactive = $grey

    # https://wiki.hyprland.org/0.45.0/Configuring/Variables/#groupbar
	groupbar {
		text_color = $fg1
		col.active = $green
		col.inactive = $grey
		col.locked_active = $green
		col.locked_inactive = $grey
	}
}

# See https://wiki.hyprland.org/0.45.0/Configuring/Dwindle-Layout/ for more
dwindle {
    pseudotile = true # master switch for pseudotiling. Enabling is bound to mainMod + P in the keybinds section below
    preserve_split = true # you probably want this
}

# See https://wiki.hyprland.org/0.45.0/Configuring/Master-Layout/ for more
master {
    new_on_active = before
}

misc {
  disable_hyprland_logo = false
  disable_splash_rendering = true
  font_family = JetBrainsMono Nerd Font
}

# https://wiki.hyprland.org/0.45.0/Configuring/Variables/#render
render {
	cm_auto_hdr = 0
	cm_fs_passthrough = 0
	cm_enabled = true
}

debug {
	full_cm_proto = false
}

